openapi: 3.0.3
info:
  version: 1.1.4
  title: GitHub v3 REST API
  description: GitHub's v3 REST API.
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://docs.github.com/articles/github-terms-of-service
  contact:
    name: Support
    url: https://support.github.com/contact?tags=dotcom-rest-api
  x-github-plan: api.github.com
servers:
- url: https://api.github.com
components:
  schemas:
    basic-error:
      title: Basic Error
      description: Basic Error
      type: object
      properties:
        message:
          type: string
        documentation_url:
          type: string
        url:
          type: string
        status:
          type: string
    nullable-simple-user:
      title: Simple User
      description: A GitHub user.
      type: object
      properties:
        name:
          nullable: true
          type: string
        email:
          nullable: true
          type: string
        login:
          type: string
          example: octocat
        id:
          type: integer
          format: int64
          example: 1
        node_id:
          type: string
          example: MDQ6VXNlcjE=
        avatar_url:
          type: string
          format: uri
          example: https://github.com/images/error/octocat_happy.gif
        gravatar_id:
          type: string
          example: 41d064eb2195891e12d0413f63227ea7
          nullable: true
        url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat
        html_url:
          type: string
          format: uri
          example: https://github.com/octocat
        followers_url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat/followers
        following_url:
          type: string
          example: https://api.github.com/users/octocat/following{/other_user}
        gists_url:
          type: string
          example: https://api.github.com/users/octocat/gists{/gist_id}
        starred_url:
          type: string
          example: https://api.github.com/users/octocat/starred{/owner}{/repo}
        subscriptions_url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat/subscriptions
        organizations_url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat/orgs
        repos_url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat/repos
        events_url:
          type: string
          example: https://api.github.com/users/octocat/events{/privacy}
        received_events_url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat/received_events
        type:
          type: string
          example: User
        site_admin:
          type: boolean
        starred_at:
          type: string
          example: '"2020-07-09T00:17:55Z"'
        user_view_type:
          type: string
          example: public
      required:
      - avatar_url
      - events_url
      - followers_url
      - following_url
      - gists_url
      - gravatar_id
      - html_url
      - id
      - node_id
      - login
      - organizations_url
      - received_events_url
      - repos_url
      - site_admin
      - starred_url
      - subscriptions_url
      - type
      - url
      nullable: true
    nullable-team-simple:
      title: Team Simple
      description: Groups of organization members that gives permissions on specified repositories.
      type: object
      properties:
        id:
          description: Unique identifier of the team
          type: integer
          example: 1
        node_id:
          type: string
          example: MDQ6VGVhbTE=
        url:
          description: URL for the team
          type: string
          format: uri
          example: https://api.github.com/organizations/1/team/1
        members_url:
          type: string
          example: https://api.github.com/organizations/1/team/1/members{/member}
        name:
          description: Name of the team
          type: string
          example: Justice League
        description:
          description: Description of the team
          type: string
          nullable: true
          example: A great team.
        permission:
          description: Permission that the team will have for its repositories
          type: string
          example: admin
        privacy:
          description: The level of privacy this team should have
          type: string
          example: closed
        notification_setting:
          description: The notification setting the team has set
          type: string
          example: notifications_enabled
        html_url:
          type: string
          format: uri
          example: https://github.com/orgs/rails/teams/core
        repositories_url:
          type: string
          format: uri
          example: https://api.github.com/organizations/1/team/1/repos
        slug:
          type: string
          example: justice-league
        ldap_dn:
          description: Distinguished Name (DN) that team maps to within LDAP environment
          example: uid=example,ou=users,dc=github,dc=com
          type: string
      required:
      - id
      - node_id
      - url
      - members_url
      - name
      - description
      - permission
      - html_url
      - repositories_url
      - slug
      nullable: true
    team:
      title: Team
      description: Groups of organization members that gives permissions on specified repositories.
      type: object
      properties:
        id:
          type: integer
        node_id:
          type: string
        name:
          type: string
        slug:
          type: string
        description:
          type: string
          nullable: true
        privacy:
          type: string
        notification_setting:
          type: string
        permission:
          type: string
        permissions:
          type: object
          properties:
            pull:
              type: boolean
            triage:
              type: boolean
            push:
              type: boolean
            maintain:
              type: boolean
            admin:
              type: boolean
          required:
          - pull
          - triage
          - push
          - maintain
          - admin
        url:
          type: string
          format: uri
        html_url:
          type: string
          format: uri
          example: https://github.com/orgs/rails/teams/core
        members_url:
          type: string
        repositories_url:
          type: string
          format: uri
        parent:
          $ref: '#/components/schemas/nullable-team-simple'
      required:
      - id
      - node_id
      - url
      - members_url
      - name
      - description
      - permission
      - html_url
      - repositories_url
      - slug
      - parent
    copilot-organization-seat-breakdown:
      title: Copilot Seat Breakdown
      description: The breakdown of Copilot Business seats for the organization.
      type: object
      properties:
        total:
          type: integer
          description: The total number of seats being billed for the organization as of the current billing cycle.
        added_this_cycle:
          type: integer
          description: Seats added during the current billing cycle.
        pending_cancellation:
          type: integer
          description: The number of seats that are pending cancellation at the end of the current billing cycle.
        pending_invitation:
          type: integer
          description: The number of users who have been invited to receive a Copilot seat through this organization.
        active_this_cycle:
          type: integer
          description: The number of seats that have used Copilot during the current billing cycle.
        inactive_this_cycle:
          type: integer
          description: The number of seats that have not used Copilot during the current billing cycle.
    copilot-organization-details:
      title: Copilot Organization Details
      description: Information about the seat breakdown and policies set for an organization with a Copilot Business or Copilot Enterprise subscription.
      type: object
      properties:
        seat_breakdown:
          $ref: '#/components/schemas/copilot-organization-seat-breakdown'
        public_code_suggestions:
          type: string
          description: The organization policy for allowing or blocking suggestions matching public code (duplication detection filter).
          enum:
          - allow
          - block
          - unconfigured
        ide_chat:
          type: string
          description: The organization policy for allowing or disallowing Copilot Chat in the IDE.
          enum:
          - enabled
          - disabled
          - unconfigured
        platform_chat:
          type: string
          description: The organization policy for allowing or disallowing Copilot features on GitHub.com.
          enum:
          - enabled
          - disabled
          - unconfigured
        cli:
          type: string
          description: The organization policy for allowing or disallowing Copilot in the CLI.
          enum:
          - enabled
          - disabled
          - unconfigured
        seat_management_setting:
          type: string
          description: The mode of assigning new seats.
          enum:
          - assign_all
          - assign_selected
          - disabled
          - unconfigured
        plan_type:
          type: string
          description: The Copilot plan of the organization, or the parent enterprise, when applicable.
          enum:
          - business
          - enterprise
      required:
      - seat_breakdown
      - public_code_suggestions
      - seat_management_setting
      additionalProperties: true
    nullable-organization-simple:
      title: Organization Simple
      description: A GitHub organization.
      type: object
      properties:
        login:
          type: string
          example: github
        id:
          type: integer
          example: 1
        node_id:
          type: string
          example: MDEyOk9yZ2FuaXphdGlvbjE=
        url:
          type: string
          format: uri
          example: https://api.github.com/orgs/github
        repos_url:
          type: string
          format: uri
          example: https://api.github.com/orgs/github/repos
        events_url:
          type: string
          format: uri
          example: https://api.github.com/orgs/github/events
        hooks_url:
          type: string
          example: https://api.github.com/orgs/github/hooks
        issues_url:
          type: string
          example: https://api.github.com/orgs/github/issues
        members_url:
          type: string
          example: https://api.github.com/orgs/github/members{/member}
        public_members_url:
          type: string
          example: https://api.github.com/orgs/github/public_members{/member}
        avatar_url:
          type: string
          example: https://github.com/images/error/octocat_happy.gif
        description:
          type: string
          example: A great organization
          nullable: true
      required:
      - login
      - url
      - id
      - node_id
      - repos_url
      - events_url
      - hooks_url
      - issues_url
      - members_url
      - public_members_url
      - avatar_url
      - description
      nullable: true
    enterprise-team:
      title: Enterprise Team
      description: Group of enterprise owners and/or members
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        slug:
          type: string
        url:
          type: string
          format: uri
        sync_to_organizations:
          type: string
          example: disabled | all
        organization_selection_type:
          type: string
          example: disabled | all
        group_id:
          nullable: true
          type: string
          example: 62ab9291-fae2-468e-974b-7e45096d5021
        group_name:
          nullable: true
          type: string
          example: Justice League
        html_url:
          type: string
          format: uri
          example: https://github.com/enterprises/dc/teams/justice-league
        members_url:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - url
      - members_url
      - name
      - html_url
      - slug
      - created_at
      - updated_at
    copilot-seat-details:
      title: Copilot Business Seat Detail
      description: Information about a Copilot Business seat assignment for a user, team, or organization.
      type: object
      properties:
        assignee:
          $ref: '#/components/schemas/nullable-simple-user'
        organization:
          $ref: '#/components/schemas/nullable-organization-simple'
        assigning_team:
          description: The team through which the assignee is granted access to GitHub Copilot, if applicable.
          oneOf:
          - $ref: '#/components/schemas/team'
          - $ref: '#/components/schemas/enterprise-team'
          nullable: true
        pending_cancellation_date:
          type: string
          format: date
          nullable: true
          description: The pending cancellation date for the seat, in `YYYY-MM-DD` format. This will be null unless the assignee's Copilot access has been canceled during the current billing cycle. If the seat has been cancelled, this corresponds to the start of the organization's next billing cycle.
        last_activity_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp of user's last GitHub Copilot activity, in ISO 8601 format.
        last_activity_editor:
          type: string
          nullable: true
          description: Last editor that was used by the user for a GitHub Copilot completion.
        last_authenticated_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp of the last time the user authenticated with GitHub Copilot, in ISO 8601 format.
        created_at:
          type: string
          format: date-time
          description: Timestamp of when the assignee was last granted access to GitHub Copilot, in ISO 8601 format.
        updated_at:
          type: string
          format: date-time
          deprecated: true
          description: '**Closing down notice:** This field is no longer relevant and is closing down. Use the `created_at` field to determine when the assignee was last granted access to GitHub Copilot. Timestamp of when the assignee''s GitHub Copilot access was last updated, in ISO 8601 format.'
        plan_type:
          type: string
          description: The Copilot plan of the organization, or the parent enterprise, when applicable.
          enum:
          - business
          - enterprise
          - unknown
      required:
      - created_at
      additionalProperties: false
    copilot-ide-code-completions:
      type: object
      description: Usage metrics for Copilot editor code completions in the IDE.
      nullable: true
      additionalProperties: true
      properties:
        total_engaged_users:
          type: integer
          description: Number of users who accepted at least one Copilot code suggestion, across all active editors. Includes both full and partial acceptances.
        languages:
          type: array
          description: Code completion metrics for active languages.
          items:
            type: object
            description: Usage metrics for a given language for the given editor for Copilot code completions.
            properties:
              name:
                type: string
                description: Name of the language used for Copilot code completion suggestions.
              total_engaged_users:
                type: integer
                description: Number of users who accepted at least one Copilot code completion suggestion for the given language. Includes both full and partial acceptances.
        editors:
          type: array
          items:
            type: object
            description: Copilot code completion metrics for active editors.
            additionalProperties: true
            properties:
              name:
                type: string
                description: Name of the given editor.
              total_engaged_users:
                type: integer
                description: Number of users who accepted at least one Copilot code completion suggestion for the given editor. Includes both full and partial acceptances.
              models:
                type: array
                description: List of model metrics for custom models and the default model.
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the model used for Copilot code completion suggestions. If the default model is used will appear as 'default'.
                    is_custom_model:
                      type: boolean
                      description: Indicates whether a model is custom or default.
                    custom_model_training_date:
                      type: string
                      nullable: true
                      description: The training date for the custom model.
                    total_engaged_users:
                      type: integer
                      description: Number of users who accepted at least one Copilot code completion suggestion for the given editor, for the given language and model. Includes both full and partial acceptances.
                    languages:
                      type: array
                      description: Code completion metrics for active languages, for the given editor.
                      items:
                        type: object
                        description: Usage metrics for a given language for the given editor for Copilot code completions.
                        properties:
                          name:
                            type: string
                            description: Name of the language used for Copilot code completion suggestions, for the given editor.
                          total_engaged_users:
                            type: integer
                            description: Number of users who accepted at least one Copilot code completion suggestion for the given editor, for the given language. Includes both full and partial acceptances.
                          total_code_suggestions:
                            type: integer
                            description: The number of Copilot code suggestions generated for the given editor, for the given language.
                          total_code_acceptances:
                            type: integer
                            description: The number of Copilot code suggestions accepted for the given editor, for the given language. Includes both full and partial acceptances.
                          total_code_lines_suggested:
                            type: integer
                            description: The number of lines of code suggested by Copilot code completions for the given editor, for the given language.
                          total_code_lines_accepted:
                            type: integer
                            description: The number of lines of code accepted from Copilot code suggestions for the given editor, for the given language.
    copilot-ide-chat:
      type: object
      description: Usage metrics for Copilot Chat in the IDE.
      nullable: true
      additionalProperties: true
      properties:
        total_engaged_users:
          type: integer
          description: Total number of users who prompted Copilot Chat in the IDE.
        editors:
          type: array
          items:
            type: object
            description: Copilot Chat metrics, for active editors.
            properties:
              name:
                type: string
                description: Name of the given editor.
              total_engaged_users:
                type: integer
                description: The number of users who prompted Copilot Chat in the specified editor.
              models:
                type: array
                description: List of model metrics for custom models and the default model.
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the model used for Copilot Chat. If the default model is used will appear as 'default'.
                    is_custom_model:
                      type: boolean
                      description: Indicates whether a model is custom or default.
                    custom_model_training_date:
                      type: string
                      nullable: true
                      description: The training date for the custom model.
                    total_engaged_users:
                      type: integer
                      description: The number of users who prompted Copilot Chat in the given editor and model.
                    total_chats:
                      type: integer
                      description: The total number of chats initiated by users in the given editor and model.
                    total_chat_insertion_events:
                      type: integer
                      description: The number of times users accepted a code suggestion from Copilot Chat using the 'Insert Code' UI element, for the given editor.
                    total_chat_copy_events:
                      type: integer
                      description: The number of times users copied a code suggestion from Copilot Chat using the keyboard, or the 'Copy' UI element, for the given editor.
    copilot-dotcom-chat:
      type: object
      description: Usage metrics for Copilot Chat in GitHub.com
      nullable: true
      additionalProperties: true
      properties:
        total_engaged_users:
          type: integer
          description: Total number of users who prompted Copilot Chat on github.com at least once.
        models:
          type: array
          description: List of model metrics for a custom models and the default model.
          items:
            type: object
            properties:
              name:
                type: string
                description: Name of the model used for Copilot Chat. If the default model is used will appear as 'default'.
              is_custom_model:
                type: boolean
                description: Indicates whether a model is custom or default.
              custom_model_training_date:
                type: string
                description: The training date for the custom model (if applicable).
                nullable: true
              total_engaged_users:
                type: integer
                description: Total number of users who prompted Copilot Chat on github.com at least once for each model.
              total_chats:
                type: integer
                description: Total number of chats initiated by users on github.com.
    copilot-dotcom-pull-requests:
      type: object
      description: Usage metrics for Copilot for pull requests.
      nullable: true
      additionalProperties: true
      properties:
        total_engaged_users:
          type: integer
          description: The number of users who used Copilot for Pull Requests on github.com to generate a pull request summary at least once.
        repositories:
          type: array
          description: Repositories in which users used Copilot for Pull Requests to generate pull request summaries
          items:
            type: object
            properties:
              name:
                type: string
                description: Repository name
              total_engaged_users:
                type: integer
                description: The number of users who generated pull request summaries using Copilot for Pull Requests in the given repository.
              models:
                type: array
                description: List of model metrics for custom models and the default model.
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the model used for Copilot pull request summaries. If the default model is used will appear as 'default'.
                    is_custom_model:
                      type: boolean
                      description: Indicates whether a model is custom or default.
                    custom_model_training_date:
                      type: string
                      nullable: true
                      description: The training date for the custom model.
                    total_pr_summaries_created:
                      type: integer
                      description: The number of pull request summaries generated using Copilot for Pull Requests in the given repository.
                    total_engaged_users:
                      type: integer
                      description: The number of users who generated pull request summaries using Copilot for Pull Requests in the given repository and model.
    copilot-usage-metrics-day:
      title: Copilot Usage Metrics
      description: Copilot usage metrics for a given day.
      type: object
      properties:
        date:
          type: string
          format: date
          description: The date for which the usage metrics are aggregated, in `YYYY-MM-DD` format.
        total_active_users:
          type: integer
          description: The total number of Copilot users with activity belonging to any Copilot feature, globally, for the given day. Includes passive activity such as receiving a code suggestion, as well as engagement activity such as accepting a code suggestion or prompting chat. Does not include authentication events. Is not limited to the individual features detailed on the endpoint.
        total_engaged_users:
          type: integer
          description: The total number of Copilot users who engaged with any Copilot feature, for the given day. Examples include but are not limited to accepting a code suggestion, prompting Copilot chat, or triggering a PR Summary. Does not include authentication events. Is not limited to the individual features detailed on the endpoint.
        copilot_ide_code_completions:
          $ref: '#/components/schemas/copilot-ide-code-completions'
        copilot_ide_chat:
          $ref: '#/components/schemas/copilot-ide-chat'
        copilot_dotcom_chat:
          $ref: '#/components/schemas/copilot-dotcom-chat'
        copilot_dotcom_pull_requests:
          $ref: '#/components/schemas/copilot-dotcom-pull-requests'
      required:
      - date
      additionalProperties: true
  examples:
    copilot-organization-details:
      value:
        seat_breakdown:
          total: 12
          added_this_cycle: 9
          pending_invitation: 0
          pending_cancellation: 0
          active_this_cycle: 12
          inactive_this_cycle: 11
        seat_management_setting: assign_selected
        ide_chat: enabled
        platform_chat: enabled
        cli: enabled
        public_code_suggestions: block
        plan_type: business
    copilot-seats-list:
      value:
        total_seats: 2
        seats:
        - created_at: '2021-08-03T18:00:00-06:00'
          updated_at: '2021-09-23T15:00:00-06:00'
          pending_cancellation_date: null
          last_activity_at: '2021-10-14T00:53:32-06:00'
          last_activity_editor: vscode/1.77.3/copilot/1.86.82
          last_authenticated_at: '2021-10-14T00:53:32-06:00'
          plan_type: business
          assignee:
            login: octocat
            id: 1
            node_id: MDQ6VXNlcjE=
            avatar_url: https://github.com/images/error/octocat_happy.gif
            gravatar_id: ''
            url: https://api.github.com/users/octocat
            html_url: https://github.com/octocat
            followers_url: https://api.github.com/users/octocat/followers
            following_url: https://api.github.com/users/octocat/following{/other_user}
            gists_url: https://api.github.com/users/octocat/gists{/gist_id}
            starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
            subscriptions_url: https://api.github.com/users/octocat/subscriptions
            organizations_url: https://api.github.com/users/octocat/orgs
            repos_url: https://api.github.com/users/octocat/repos
            events_url: https://api.github.com/users/octocat/events{/privacy}
            received_events_url: https://api.github.com/users/octocat/received_events
            type: User
            site_admin: false
          assigning_team:
            id: 1
            node_id: MDQ6VGVhbTE=
            url: https://api.github.com/teams/1
            html_url: https://github.com/orgs/github/teams/justice-league
            name: Justice League
            slug: justice-league
            description: A great team.
            privacy: closed
            notification_setting: notifications_enabled
            permission: admin
            members_url: https://api.github.com/teams/1/members{/member}
            repositories_url: https://api.github.com/teams/1/repos
            parent: null
        - created_at: '2021-09-23T18:00:00-06:00'
          updated_at: '2021-09-23T15:00:00-06:00'
          pending_cancellation_date: '2021-11-01'
          last_activity_at: '2021-10-13T00:53:32-06:00'
          last_activity_editor: vscode/1.77.3/copilot/1.86.82
          last_authenticated_at: '2021-10-14T00:53:32-06:00'
          assignee:
            login: octokitten
            id: 1
            node_id: MDQ76VNlcjE=
            avatar_url: https://github.com/images/error/octokitten_happy.gif
            gravatar_id: ''
            url: https://api.github.com/users/octokitten
            html_url: https://github.com/octokitten
            followers_url: https://api.github.com/users/octokitten/followers
            following_url: https://api.github.com/users/octokitten/following{/other_user}
            gists_url: https://api.github.com/users/octokitten/gists{/gist_id}
            starred_url: https://api.github.com/users/octokitten/starred{/owner}{/repo}
            subscriptions_url: https://api.github.com/users/octokitten/subscriptions
            organizations_url: https://api.github.com/users/octokitten/orgs
            repos_url: https://api.github.com/users/octokitten/repos
            events_url: https://api.github.com/users/octokitten/events{/privacy}
            received_events_url: https://api.github.com/users/octokitten/received_events
            type: User
            site_admin: false
    copilot-usage-metrics-for-day:
      value:
      - date: '2024-06-24'
        total_active_users: 24
        total_engaged_users: 20
        copilot_ide_code_completions:
          total_engaged_users: 20
          languages:
          - name: python
            total_engaged_users: 10
          - name: ruby
            total_engaged_users: 10
          editors:
          - name: vscode
            total_engaged_users: 13
            models:
            - name: default
              is_custom_model: false
              custom_model_training_date: null
              total_engaged_users: 13
              languages:
              - name: python
                total_engaged_users: 6
                total_code_suggestions: 249
                total_code_acceptances: 123
                total_code_lines_suggested: 225
                total_code_lines_accepted: 135
              - name: ruby
                total_engaged_users: 7
                total_code_suggestions: 496
                total_code_acceptances: 253
                total_code_lines_suggested: 520
                total_code_lines_accepted: 270
          - name: neovim
            total_engaged_users: 7
            models:
            - name: a-custom-model
              is_custom_model: true
              custom_model_training_date: '2024-02-01'
              languages:
              - name: typescript
                total_engaged_users: 3
                total_code_suggestions: 112
                total_code_acceptances: 56
                total_code_lines_suggested: 143
                total_code_lines_accepted: 61
              - name: go
                total_engaged_users: 4
                total_code_suggestions: 132
                total_code_acceptances: 67
                total_code_lines_suggested: 154
                total_code_lines_accepted: 72
        copilot_ide_chat:
          total_engaged_users: 13
          editors:
          - name: vscode
            total_engaged_users: 13
            models:
            - name: default
              is_custom_model: false
              custom_model_training_date: null
              total_engaged_users: 12
              total_chats: 45
              total_chat_insertion_events: 12
              total_chat_copy_events: 16
            - name: a-custom-model
              is_custom_model: true
              custom_model_training_date: '2024-02-01'
              total_engaged_users: 1
              total_chats: 10
              total_chat_insertion_events: 11
              total_chat_copy_events: 3
        copilot_dotcom_chat:
          total_engaged_users: 14
          models:
          - name: default
            is_custom_model: false
            custom_model_training_date: null
            total_engaged_users: 14
            total_chats: 38
        copilot_dotcom_pull_requests:
          total_engaged_users: 12
          repositories:
          - name: demo/repo1
            total_engaged_users: 8
            models:
            - name: default
              is_custom_model: false
              custom_model_training_date: null
              total_pr_summaries_created: 6
              total_engaged_users: 8
          - name: demo/repo2
            total_engaged_users: 4
            models:
            - name: a-custom-model
              is_custom_model: true
              custom_model_training_date: '2024-02-01'
              total_pr_summaries_created: 10
              total_engaged_users: 4
    copilot-seat-detail-active:
      value:
        created_at: '2021-08-03T18:00:00-06:00'
        updated_at: '2021-09-23T15:00:00-06:00'
        pending_cancellation_date: null
        last_activity_at: '2021-10-14T00:53:32-06:00'
        last_activity_editor: vscode/1.77.3/copilot/1.86.82
        last_authenticated_at: '2021-10-14T00:53:32-06:00'
        plan_type: business
        assignee:
          login: octocat
          id: 1
          node_id: MDQ6VXNlcjE=
          avatar_url: https://github.com/images/error/octocat_happy.gif
          gravatar_id: ''
          url: https://api.github.com/users/octocat
          html_url: https://github.com/octocat
          followers_url: https://api.github.com/users/octocat/followers
          following_url: https://api.github.com/users/octocat/following{/other_user}
          gists_url: https://api.github.com/users/octocat/gists{/gist_id}
          starred_url: https://api.github.com/users/octocat/starred{/owner}{/repo}
          subscriptions_url: https://api.github.com/users/octocat/subscriptions
          organizations_url: https://api.github.com/users/octocat/orgs
          repos_url: https://api.github.com/users/octocat/repos
          events_url: https://api.github.com/users/octocat/events{/privacy}
          received_events_url: https://api.github.com/users/octocat/received_events
          type: User
          site_admin: false
        assigning_team:
          id: 1
          node_id: MDQ6VGVhbTE=
          url: https://api.github.com/teams/1
          html_url: https://github.com/orgs/github/teams/justice-league
          name: Justice League
          slug: justice-league
          description: A great team.
          privacy: closed
          notification_setting: notifications_enabled
          permission: admin
          members_url: https://api.github.com/teams/1/members{/member}
          repositories_url: https://api.github.com/teams/1/repos
          parent: null
  parameters:
    page:
      name: page
      description: The page number of the results to fetch. For more information, see "[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api)."
      in: query
      schema:
        type: integer
        default: 1
    org:
      name: org
      description: The organization name. The name is not case sensitive.
      in: path
      required: true
      schema:
        type: string
    username:
      name: username
      description: The handle for the GitHub user account.
      in: path
      required: true
      schema:
        type: string
    team-slug:
      name: team_slug
      description: The slug of the team name.
      in: path
      required: true
      schema:
        type: string
  responses:
    not_found:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/basic-error'
    requires_authentication:
      description: Requires authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/basic-error'
    forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/basic-error'
    internal_error:
      description: Internal Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/basic-error'
    usage_metrics_api_disabled:
      description: Copilot Usage Merics API setting is disabled at the organization or enterprise level.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/basic-error'
  headers:
    link:
      example: <https://api.github.com/resource?page=2>; rel="next", <https://api.github.com/resource?page=5>; rel="last"
      schema:
        type: string
security: []
tags:
- name: copilot
  description: Endpoints to manage Copilot using the REST API.
externalDocs:
  description: GitHub v3 REST API
  url: https://docs.github.com/rest/
paths:
  /orgs/{org}/copilot/billing:
    get:
      summary: Get Copilot seat information and settings for an organization
      description: '> [!NOTE]

        > This endpoint is in public preview and is subject to change.


        Gets information about an organization''s Copilot subscription, including seat breakdown

        and feature policies. To configure these settings, go to your organization''s settings on GitHub.com.

        For more information, see "[Managing policies for Copilot in your organization](https://docs.github.com/copilot/managing-copilot/managing-policies-for-copilot-business-in-your-organization)."


        Only organization owners can view details about the organization''s Copilot Business or Copilot Enterprise subscription.


        OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot` or `read:org` scopes to use this endpoint.'
      tags:
      - copilot
      operationId: copilot/get-copilot-organization-details
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/copilot/copilot-user-management#get-copilot-seat-information-and-settings-for-an-organization
      parameters:
      - $ref: '#/components/parameters/org'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/copilot-organization-details'
              examples:
                default:
                  $ref: '#/components/examples/copilot-organization-details'
        '500':
          $ref: '#/components/responses/internal_error'
        '401':
          $ref: '#/components/responses/requires_authentication'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          description: There is a problem with your account's associated payment method.
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: copilot
        subcategory: copilot-user-management
  /orgs/{org}/copilot/billing/seats:
    get:
      summary: List all Copilot seat assignments for an organization
      description: '> [!NOTE]

        > This endpoint is in public preview and is subject to change.


        Lists all Copilot seats for which an organization with a Copilot Business or Copilot Enterprise subscription is currently being billed.

        Only organization owners can view assigned seats.


        Each seat object contains information about the assigned user''s most recent Copilot activity. Users must have telemetry enabled in their IDE for Copilot in the IDE activity to be reflected in `last_activity_at`.

        For more information about activity data, see [Metrics data properties for GitHub Copilot](https://docs.github.com/copilot/reference/metrics-data).


        OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot` or `read:org` scopes to use this endpoint.'
      tags:
      - copilot
      operationId: copilot/list-copilot-seats
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/copilot/copilot-user-management#list-all-copilot-seat-assignments-for-an-organization
      parameters:
      - $ref: '#/components/parameters/org'
      - $ref: '#/components/parameters/page'
      - name: per_page
        description: The number of results per page (max 100). For more information, see "[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api)."
        in: query
        schema:
          type: integer
          default: 50
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_seats:
                    type: integer
                    description: Total number of Copilot seats for the organization currently being billed.
                  seats:
                    type: array
                    items:
                      $ref: '#/components/schemas/copilot-seat-details'
              examples:
                default:
                  $ref: '#/components/examples/copilot-seats-list'
          headers:
            Link:
              $ref: '#/components/headers/link'
        '500':
          $ref: '#/components/responses/internal_error'
        '401':
          $ref: '#/components/responses/requires_authentication'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: copilot
        subcategory: copilot-user-management
  /orgs/{org}/copilot/billing/selected_teams:
    post:
      summary: Add teams to the Copilot subscription for an organization
      description: '> [!NOTE]

        > This endpoint is in public preview and is subject to change.


        Purchases a GitHub Copilot seat for all users within each specified team.

        The organization will be billed for each seat based on the organization''s Copilot plan. For more information about Copilot pricing, see "[About billing for GitHub Copilot in your organization](https://docs.github.com/copilot/managing-copilot/managing-github-copilot-in-your-organization/managing-the-copilot-subscription-for-your-organization/about-billing-for-github-copilot-in-your-organization)."


        Only organization owners can purchase Copilot seats for their organization members. The organization must have a Copilot Business or Copilot Enterprise subscription and a configured suggestion matching policy.

        For more information about setting up a Copilot subscription, see "[Subscribing to Copilot for your organization](https://docs.github.com/copilot/managing-copilot/managing-github-copilot-in-your-organization/managing-the-copilot-subscription-for-your-organization/subscribing-to-copilot-for-your-organization)."

        For more information about setting a suggestion matching policy, see "[Managing policies for Copilot in your organization](https://docs.github.com/copilot/managing-copilot/managing-github-copilot-in-your-organization/setting-policies-for-copilot-in-your-organization/managing-policies-for-copilot-in-your-organization#policies-for-suggestion-matching)."


        The response contains the total number of new seats that were created and existing seats that were refreshed.


        OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot` or `admin:org` scopes to use this endpoint.'
      tags:
      - copilot
      operationId: copilot/add-copilot-seats-for-teams
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/copilot/copilot-user-management#add-teams-to-the-copilot-subscription-for-an-organization
      parameters:
      - $ref: '#/components/parameters/org'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                selected_teams:
                  type: array
                  description: List of team names within the organization to which to grant access to GitHub Copilot.
                  items:
                    type: string
                  minItems: 1
              required:
              - selected_teams
            examples:
              default:
                value:
                  selected_teams:
                  - engteam1
                  - engteam2
                  - engteam3
        required: true
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: The total number of seats created for members of the specified team(s).
                properties:
                  seats_created:
                    type: integer
                required:
                - seats_created
              examples:
                default:
                  value:
                    seats_created: 5
        '500':
          $ref: '#/components/responses/internal_error'
        '401':
          $ref: '#/components/responses/requires_authentication'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          description: Copilot Business or Enterprise is not enabled for this organization, billing has not been set up for this organization, a public code suggestions policy has not been set for this organization, or the organization's Copilot access setting is set to enable Copilot for all users or is unconfigured.
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: copilot
        subcategory: copilot-user-management
    delete:
      summary: Remove teams from the Copilot subscription for an organization
      description: '> [!NOTE]

        > This endpoint is in public preview and is subject to change.


        Sets seats for all members of each team specified to "pending cancellation".

        This will cause the members of the specified team(s) to lose access to GitHub Copilot at the end of the current billing cycle unless they retain access through another team.

        For more information about disabling access to Copilot, see "[Revoking access to Copilot for members of your organization](https://docs.github.com/copilot/managing-copilot/managing-github-copilot-in-your-organization/managing-access-to-github-copilot-in-your-organization/revoking-access-to-copilot-for-members-of-your-organization)."


        Only organization owners can cancel Copilot seats for their organization members.


        The response contains the total number of seats set to "pending cancellation".


        OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot` or `admin:org` scopes to use this endpoint.'
      tags:
      - copilot
      operationId: copilot/cancel-copilot-seat-assignment-for-teams
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/copilot/copilot-user-management#remove-teams-from-the-copilot-subscription-for-an-organization
      parameters:
      - $ref: '#/components/parameters/org'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                selected_teams:
                  type: array
                  description: The names of teams from which to revoke access to GitHub Copilot.
                  items:
                    type: string
                  minItems: 1
              required:
              - selected_teams
            examples:
              default:
                value:
                  selected_teams:
                  - engteam1
                  - engteam2
                  - engteam3
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: The total number of seats set to "pending cancellation" for members of the specified team(s).
                properties:
                  seats_cancelled:
                    type: integer
                required:
                - seats_cancelled
              examples:
                default:
                  value:
                    seats_cancelled: 5
        '500':
          $ref: '#/components/responses/internal_error'
        '401':
          $ref: '#/components/responses/requires_authentication'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          description: Copilot Business or Enterprise is not enabled for this organization, billing has not been set up for this organization, a public code suggestions policy has not been set for this organization, or the organization's Copilot access setting is set to enable Copilot for all users or is unconfigured.
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: copilot
        subcategory: copilot-user-management
  /orgs/{org}/copilot/billing/selected_users:
    post:
      summary: Add users to the Copilot subscription for an organization
      description: '> [!NOTE]

        > This endpoint is in public preview and is subject to change.


        Purchases a GitHub Copilot seat for each user specified.

        The organization will be billed for each seat based on the organization''s Copilot plan. For more information about Copilot pricing, see "[About billing for GitHub Copilot in your organization](https://docs.github.com/copilot/managing-copilot/managing-github-copilot-in-your-organization/managing-the-copilot-subscription-for-your-organization/about-billing-for-github-copilot-in-your-organization)."


        Only organization owners can purchase Copilot seats for their organization members. The organization must have a Copilot Business or Copilot Enterprise subscription and a configured suggestion matching policy.

        For more information about setting up a Copilot subscription, see "[Subscribing to Copilot for your organization](https://docs.github.com/copilot/managing-copilot/managing-github-copilot-in-your-organization/managing-the-copilot-subscription-for-your-organization/subscribing-to-copilot-for-your-organization)."

        For more information about setting a suggestion matching policy, see "[Managing policies for Copilot in your organization](https://docs.github.com/copilot/managing-copilot/managing-github-copilot-in-your-organization/setting-policies-for-copilot-in-your-organization/managing-policies-for-copilot-in-your-organization#policies-for-suggestion-matching)."


        The response contains the total number of new seats that were created and existing seats that were refreshed.


        OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot` or `admin:org` scopes to use this endpoint.'
      tags:
      - copilot
      operationId: copilot/add-copilot-seats-for-users
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/copilot/copilot-user-management#add-users-to-the-copilot-subscription-for-an-organization
      parameters:
      - $ref: '#/components/parameters/org'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                selected_usernames:
                  type: array
                  description: The usernames of the organization members to be granted access to GitHub Copilot.
                  items:
                    type: string
                  minItems: 1
              required:
              - selected_usernames
            examples:
              default:
                value:
                  selected_usernames:
                  - cooluser1
                  - hacker2
                  - octocat
        required: true
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: The total number of seats created for the specified user(s).
                properties:
                  seats_created:
                    type: integer
                required:
                - seats_created
              examples:
                default:
                  value:
                    seats_created: 5
        '500':
          $ref: '#/components/responses/internal_error'
        '401':
          $ref: '#/components/responses/requires_authentication'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          description: Copilot Business or Enterprise is not enabled for this organization, billing has not been set up for this organization, a public code suggestions policy has not been set for this organization, or the organization's Copilot access setting is set to enable Copilot for all users or is unconfigured.
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: copilot
        subcategory: copilot-user-management
    delete:
      summary: Remove users from the Copilot subscription for an organization
      description: '> [!NOTE]

        > This endpoint is in public preview and is subject to change.


        Sets seats for all users specified to "pending cancellation".

        This will cause the specified users to lose access to GitHub Copilot at the end of the current billing cycle unless they retain access through team membership.

        For more information about disabling access to Copilot, see "[Revoking access to Copilot for members of your organization](https://docs.github.com/copilot/managing-copilot/managing-github-copilot-in-your-organization/managing-access-to-github-copilot-in-your-organization/revoking-access-to-copilot-for-members-of-your-organization)."


        Only organization owners can cancel Copilot seats for their organization members.


        The response contains the total number of seats set to "pending cancellation".


        OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot` or `admin:org` scopes to use this endpoint.'
      tags:
      - copilot
      operationId: copilot/cancel-copilot-seat-assignment-for-users
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/copilot/copilot-user-management#remove-users-from-the-copilot-subscription-for-an-organization
      parameters:
      - $ref: '#/components/parameters/org'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                selected_usernames:
                  type: array
                  description: The usernames of the organization members for which to revoke access to GitHub Copilot.
                  items:
                    type: string
                  minItems: 1
              required:
              - selected_usernames
            examples:
              default:
                value:
                  selected_usernames:
                  - cooluser1
                  - hacker2
                  - octocat
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: The total number of seats set to "pending cancellation" for the specified users.
                properties:
                  seats_cancelled:
                    type: integer
                required:
                - seats_cancelled
              examples:
                default:
                  value:
                    seats_cancelled: 5
        '500':
          $ref: '#/components/responses/internal_error'
        '401':
          $ref: '#/components/responses/requires_authentication'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          description: Copilot Business or Enterprise is not enabled for this organization, billing has not been set up for this organization, a public code suggestions policy has not been set for this organization, the seat management setting is set to enable Copilot for all users or is unconfigured, or a user's seat cannot be cancelled because it was assigned to them via a team.
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: copilot
        subcategory: copilot-user-management
  /orgs/{org}/copilot/metrics:
    get:
      summary: Get Copilot metrics for an organization
      description: 'Use this endpoint to see a breakdown of aggregated metrics for various GitHub Copilot features. See the response schema tab for detailed metrics definitions.


        > [!NOTE]

        > This endpoint will only return results for a given day if the organization contained **five or more members with active Copilot licenses** on that day, as evaluated at the end of that day.


        The response contains metrics for up to 28 days prior. Metrics are processed once per day for the previous day,

        and the response will only include data up until yesterday. In order for an end user to be counted towards these metrics,

        they must have telemetry enabled in their IDE.


        To access this endpoint, the Copilot Metrics API access policy must be enabled for the organization.

        Only organization owners and owners and billing managers of the parent enterprise can view Copilot metrics.


        OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot`, `read:org`, or `read:enterprise` scopes to use this endpoint.'
      tags:
      - copilot
      operationId: copilot/copilot-metrics-for-organization
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/copilot/copilot-metrics#get-copilot-metrics-for-an-organization
      parameters:
      - $ref: '#/components/parameters/org'
      - name: since
        description: Show usage metrics since this date. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (`YYYY-MM-DDTHH:MM:SSZ`). Maximum value is 28 days ago.
        in: query
        required: false
        schema:
          type: string
      - name: until
        description: Show usage metrics until this date. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (`YYYY-MM-DDTHH:MM:SSZ`) and should not preceed the `since` date if it is passed.
        in: query
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - name: per_page
        description: The number of days of metrics to display per page (max 28). For more information, see "[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api)."
        in: query
        schema:
          type: integer
          default: 28
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/copilot-usage-metrics-day'
              examples:
                default:
                  $ref: '#/components/examples/copilot-usage-metrics-for-day'
        '500':
          $ref: '#/components/responses/internal_error'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          $ref: '#/components/responses/usage_metrics_api_disabled'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: copilot
        subcategory: copilot-metrics
  /orgs/{org}/members/{username}/copilot:
    get:
      summary: Get Copilot seat assignment details for a user
      description: '> [!NOTE]

        > This endpoint is in public preview and is subject to change.


        Gets the GitHub Copilot seat details for a member of an organization who currently has access to GitHub Copilot.


        The seat object contains information about the user''s most recent Copilot activity. Users must have telemetry enabled in their IDE for Copilot in the IDE activity to be reflected in `last_activity_at`.

        For more information about activity data, see [Metrics data properties for GitHub Copilot](https://docs.github.com/copilot/reference/metrics-data).


        Only organization owners can view Copilot seat assignment details for members of their organization.


        OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot` or `read:org` scopes to use this endpoint.'
      tags:
      - copilot
      operationId: copilot/get-copilot-seat-details-for-user
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/copilot/copilot-user-management#get-copilot-seat-assignment-details-for-a-user
      parameters:
      - $ref: '#/components/parameters/org'
      - $ref: '#/components/parameters/username'
      responses:
        '200':
          description: The user's GitHub Copilot seat details, including usage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/copilot-seat-details'
              examples:
                default:
                  $ref: '#/components/examples/copilot-seat-detail-active'
        '500':
          $ref: '#/components/responses/internal_error'
        '401':
          $ref: '#/components/responses/requires_authentication'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          description: Copilot Business or Enterprise is not enabled for this organization or the user has a pending organization invitation.
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: copilot
        subcategory: copilot-user-management
  /orgs/{org}/team/{team_slug}/copilot/metrics:
    get:
      summary: Get Copilot metrics for a team
      description: 'Use this endpoint to see a breakdown of aggregated metrics for various GitHub Copilot features. See the response schema tab for detailed metrics definitions.


        > [!NOTE]

        > This endpoint will only return results for a given day if the team had **five or more members with active Copilot licenses** on that day, as evaluated at the end of that day.


        The response contains metrics for up to 28 days prior. Metrics are processed once per day for the previous day,

        and the response will only include data up until yesterday. In order for an end user to be counted towards these metrics,

        they must have telemetry enabled in their IDE.


        To access this endpoint, the Copilot Metrics API access policy must be enabled for the organization containing the team within GitHub settings.

        Only organization owners for the organization that contains this team and owners and billing managers of the parent enterprise can view Copilot metrics for a team.


        OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot`, `read:org`, or `read:enterprise` scopes to use this endpoint.'
      tags:
      - copilot
      operationId: copilot/copilot-metrics-for-team
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/copilot/copilot-metrics#get-copilot-metrics-for-a-team
      parameters:
      - $ref: '#/components/parameters/org'
      - $ref: '#/components/parameters/team-slug'
      - name: since
        description: Show usage metrics since this date. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (`YYYY-MM-DDTHH:MM:SSZ`). Maximum value is 28 days ago.
        in: query
        required: false
        schema:
          type: string
      - name: until
        description: Show usage metrics until this date. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (`YYYY-MM-DDTHH:MM:SSZ`) and should not preceed the `since` date if it is passed.
        in: query
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - name: per_page
        description: The number of days of metrics to display per page (max 28). For more information, see "[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api)."
        in: query
        schema:
          type: integer
          default: 28
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/copilot-usage-metrics-day'
              examples:
                default:
                  $ref: '#/components/examples/copilot-usage-metrics-for-day'
        '500':
          $ref: '#/components/responses/internal_error'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          $ref: '#/components/responses/usage_metrics_api_disabled'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: copilot
        subcategory: copilot-metrics
