openapi: 3.0.3
info:
  version: 1.1.4
  title: GitHub v3 REST API
  description: GitHub's v3 REST API.
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://docs.github.com/articles/github-terms-of-service
  contact:
    name: Support
    url: https://support.github.com/contact?tags=dotcom-rest-api
  x-github-plan: api.github.com
servers:
- url: https://api.github.com
components:
  schemas:
    basic-error:
      title: Basic Error
      description: Basic Error
      type: object
      properties:
        message:
          type: string
        documentation_url:
          type: string
        url:
          type: string
        status:
          type: string
    oidc-custom-sub:
      title: Actions OIDC Subject customization
      description: Actions OIDC Subject customization
      type: object
      properties:
        include_claim_keys:
          description: Array of unique strings. Each claim key can only contain alphanumeric characters and underscores.
          type: array
          items:
            type: string
      required:
      - include_claim_keys
    empty-object:
      title: Empty Object
      description: An object without any properties.
      type: object
      properties: {}
      additionalProperties: false
  examples:
    oidc-custom-sub:
      value:
        include_claim_keys:
        - repo
        - context
  parameters:
    org:
      name: org
      description: The organization name. The name is not case sensitive.
      in: path
      required: true
      schema:
        type: string
  responses:
    not_found:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/basic-error'
    forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/basic-error'
security: []
tags:
- name: oidc
  description: Endpoints to manage GitHub OIDC configuration using the REST API.
externalDocs:
  description: GitHub v3 REST API
  url: https://docs.github.com/rest/
paths:
  /orgs/{org}/actions/oidc/customization/sub:
    get:
      summary: Get the customization template for an OIDC subject claim for an organization
      description: 'Gets the customization template for an OpenID Connect (OIDC) subject claim.


        OAuth app tokens and personal access tokens (classic) need the `read:org` scope to use this endpoint.'
      tags:
      - oidc
      operationId: oidc/get-oidc-custom-sub-template-for-org
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/oidc#get-the-customization-template-for-an-oidc-subject-claim-for-an-organization
      parameters:
      - $ref: '#/components/parameters/org'
      responses:
        '200':
          description: A JSON serialized template for OIDC subject claim customization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oidc-custom-sub'
              examples:
                default:
                  $ref: '#/components/examples/oidc-custom-sub'
      x-github:
        enabledForGitHubApps: true
        category: actions
        subcategory: oidc
    put:
      summary: Set the customization template for an OIDC subject claim for an organization
      description: 'Creates or updates the customization template for an OpenID Connect (OIDC) subject claim.


        OAuth app tokens and personal access tokens (classic) need the `write:org` scope to use this endpoint.'
      tags:
      - oidc
      operationId: oidc/update-oidc-custom-sub-template-for-org
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/oidc#set-the-customization-template-for-an-oidc-subject-claim-for-an-organization
      parameters:
      - $ref: '#/components/parameters/org'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/oidc-custom-sub'
            examples:
              default:
                $ref: '#/components/examples/oidc-custom-sub'
      responses:
        '201':
          description: Empty response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty-object'
              examples:
                default:
                  value: null
        '404':
          $ref: '#/components/responses/not_found'
        '403':
          $ref: '#/components/responses/forbidden'
      x-github:
        enabledForGitHubApps: true
        previews: []
        category: actions
        subcategory: oidc
