openapi: 3.0.3
info:
  version: 1.1.4
  title: GitHub v3 REST API
  description: GitHub's v3 REST API.
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://docs.github.com/articles/github-terms-of-service
  contact:
    name: Support
    url: https://support.github.com/contact?tags=dotcom-rest-api
  x-github-plan: api.github.com
servers:
- url: https://api.github.com
components:
  schemas:
    basic-error:
      title: Basic Error
      description: Basic Error
      type: object
      properties:
        message:
          type: string
        documentation_url:
          type: string
        url:
          type: string
        status:
          type: string
    validation-error-simple:
      title: Validation Error Simple
      description: Validation Error Simple
      type: object
      required:
      - message
      - documentation_url
      properties:
        message:
          type: string
        documentation_url:
          type: string
        errors:
          type: array
          items:
            type: string
  responses:
    validation_failed_simple:
      description: Validation failed, or the endpoint has been spammed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/validation-error-simple'
    accepted:
      description: Accepted
      content:
        application/json:
          schema:
            type: object
          examples:
            default:
              value: null
    internal_error:
      description: Internal Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/basic-error'
security: []
tags:
- name: credentials
  description: Revoke compromised or leaked GitHub credentials.
externalDocs:
  description: GitHub v3 REST API
  url: https://docs.github.com/rest/
paths:
  /credentials/revoke:
    post:
      summary: Revoke a list of credentials
      description: 'Submit a list of credentials to be revoked. This endpoint is intended to revoke credentials the caller does not own and may have found exposed on GitHub.com or elsewhere. It can also be used for credentials associated with an old user account that you no longer have access to. Credential owners will be notified of the revocation.


        This endpoint currently accepts the following credential types:

        - Personal access tokens (classic)

        - Fine-grained personal access tokens


        Revoked credentials may impact users on GitHub Free, Pro, & Team and GitHub Enterprise Cloud, and GitHub Enterprise Cloud with Enterprise Managed Users.

        GitHub cannot reactivate any credentials that have been revoked; new credentials will need to be generated.


        To prevent abuse, this API is limited to only 60 unauthenticated requests per hour and a max of 1000 tokens per API request.


        > [!NOTE]

        > Any authenticated requests will return a 403.'
      tags:
      - credentials
      operationId: credentials/revoke
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/credentials/revoke#revoke-a-list-of-credentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                credentials:
                  type: array
                  description: A list of credentials to be revoked, up to 1000 per request.
                  items:
                    type: string
                  minItems: 1
                  maxItems: 1000
              required:
              - credentials
            examples:
              default:
                value:
                  credentials:
                  - ghp_1234567890abcdef1234567890abcdef12345678
                  - ghp_abcdef1234567890abcdef1234567890abcdef12
      responses:
        '202':
          $ref: '#/components/responses/accepted'
        '422':
          $ref: '#/components/responses/validation_failed_simple'
        '500':
          $ref: '#/components/responses/internal_error'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: false
        category: credentials
        subcategory: revoke
