openapi: 3.0.3
info:
  version: 1.1.4
  title: GitHub v3 REST API
  description: GitHub's v3 REST API.
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://docs.github.com/articles/github-terms-of-service
  contact:
    name: Support
    url: https://support.github.com/contact?tags=dotcom-rest-api
  x-github-plan: api.github.com
servers:
- url: https://api.github.com
components:
  schemas:
    gitignore-template:
      title: Gitignore Template
      description: Gitignore Template
      type: object
      properties:
        name:
          type: string
          example: C
        source:
          type: string
          example: '# Object files

            *.o


            # Libraries

            *.lib

            *.a


            # Shared objects (inc. Windows DLLs)

            *.dll

            *.so

            *.so.*

            *.dylib


            # Executables

            *.exe

            *.out

            *.app

            '
      required:
      - name
      - source
  examples:
    gitignore-template:
      value:
        name: C
        source: '# Object files

          *.o


          # Libraries

          *.lib

          *.a


          # Shared objects (inc. Windows DLLs)

          *.dll

          *.so

          *.so.*

          *.dylib


          # Executables

          *.exe

          *.out

          *.app

          '
  responses:
    not_modified:
      description: Not modified
security: []
tags:
- name: gitignore
  description: View gitignore templates
externalDocs:
  description: GitHub v3 REST API
  url: https://docs.github.com/rest/
paths:
  /gitignore/templates:
    get:
      summary: Get all gitignore templates
      description: List all templates available to pass as an option when [creating a repository](https://docs.github.com/rest/repos/repos#create-a-repository-for-the-authenticated-user).
      operationId: gitignore/get-all-templates
      tags:
      - gitignore
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/gitignore/gitignore#get-all-gitignore-templates
      parameters: []
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                default:
                  value:
                  - Actionscript
                  - Android
                  - AppceleratorTitanium
                  - Autotools
                  - Bancha
                  - C
                  - C++
        '304':
          $ref: '#/components/responses/not_modified'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: gitignore
        subcategory: gitignore
  /gitignore/templates/{name}:
    get:
      summary: Get a gitignore template
      description: 'Get the content of a gitignore template.


        This endpoint supports the following custom media types. For more information, see "[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types)."


        - **`application/vnd.github.raw+json`**: Returns the raw .gitignore contents.'
      operationId: gitignore/get-template
      tags:
      - gitignore
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/gitignore/gitignore#get-a-gitignore-template
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitignore-template'
              examples:
                default:
                  $ref: '#/components/examples/gitignore-template'
        '304':
          $ref: '#/components/responses/not_modified'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: gitignore
        subcategory: gitignore
